# Python
.venv/
__pycache__/
*.py[cod]
*.log
.env

# Node
node_modules/
frontend/node_modules/

# Build
dist/
build/
frontend/dist/
frontend/dist_electron/

# Electron
*.AppImage
*.exe
*.dmg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
